/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/Settings/
/TextMesh Pro/
/ThirdParty/
/TutorialInfo/
/XLua/
/Tools/
/Packages/
/ProjectSettings/
/.vs/
/.vscode/

*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.cs.meta
*.meta